<template>
  <div id="home">
    <div class="container">
      <div id="hero" class="p-5 d-flex align-items-end mt-5">
        <div id="call-to-action">
          <h1>Lorem Ipsum Dolor Et</h1>
          <p class="mb-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
            ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
          <div class="buttons mt-3">
            <a class="btn btn-primary">Passenden Kurs finden</a><span class="mx-4 fw-bold d-inline-block">oder</span><a
              class="btn btn-secondary">Freien Platz anbieten</a>
          </div>
        </div>
      </div>
      <div id="courses" class="my-5">
        <div class="row">
          <div class="col-12 col-lg-6">
            <h2 class="mb-4">Neu veröffentlicht</h2>
            <ActivityList />
          </div>
          <div class="col-12 col-lg-6">
            <h2 class="mb-4">Letzte Chance</h2>
            <ActivityList />
          </div>
        </div>
      </div>
    </div>
    <div id="second-call-to-action" class="py-5 text-center bg-light">
      <h3 class="mb-4">Ich habe einen freien Platz über</h3>
      <button class="btn btn-primary">Jetzt teilen</button>
    </div>
    <div id="customers" class="text-center container py-5">
      <h4>Werde Teil der Community</h4>
      <div class="row">
        <div class="col-12 col-lg-3 customer-box p-5">
          <img src="https://via.placeholder.com/500x500.png?text=Customer" class="rounded-circle img-fluid" alt="Customer">
        </div>
        <div class="col-12 col-lg-3 customer-box p-5">
          <img src="https://via.placeholder.com/500x500.png?text=Customer" class="rounded-circle img-fluid" alt="Customer">
        </div>
        <div class="col-12 col-lg-3 customer-box p-5">
          <img src="https://via.placeholder.com/500x500.png?text=Customer" class="rounded-circle img-fluid" alt="Customer">
        </div>
        <div class="col-12 col-lg-3 customer-box p-5">
          <img src="https://via.placeholder.com/500x500.png?text=Customer" class="rounded-circle img-fluid" alt="Customer">
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import ActivityList from '../components/ActivityList.vue';

export default {
  components: {ActivityList}
}
</script>