// colors
$primary : #2ecc71;
$secondary : #95a5a6;

// radius
$border-radius-sm : 100em;
$border-radius : 100em;
$border-radius-lg : 100em;

// btn
$input-btn-padding-x-sm: 1.5em;
$input-btn-padding-x : 1.5em;
$input-btn-padding-x-lg : 1.5em;
