<template>
  <ul class="active-list list-unstyled">
    <li v-for="activity in activities" :key="activity.id">
      <Activity :activity="activity"/>
    </li>
  </ul>
</template>

<script>
import Activity from './Activity.vue';

export default {
  // props: ['activities'],
  components: {
    Activity
  },
  data() {
    return {
      activities: [
        {id: 0, title: "Sportangebot ", description: "Eine Sportaktivität…"},
        {id: 1, title: "Sportangebot #2", description: "Eine Sportaktivität…"},
        {id: 2, title: "Sportangebot #3", description: "Eine Sportaktivität…"},
        {id: 3, title: "Sportangebot #4", description: "Eine Sportaktivität…"},
        {id: 4, title: "Sportangebot #5", description: "Eine Sportaktivität…"},
      ]
    }
  }
}
</script>

<style scoped>

</style>