<template>
    <footer id="footer" class="py-5 container border-top">
      <div class="row gx-5">
        <div class="col-4">
          <span>© Sportify 2022</span>
        </div>
        <div class="col-4">
          <p class="h5 mb-4">Partner</p>
          <div class="row">
            <div class="col-12 col-lg-6">
              <img src="assets/images/hs-fulda-logo.svg" class="img-fluid d-inline-block">
            </div>
            <div class="col-12 col-lg-6">
              <img src="../../public/assets/images/vhs-fulda-logo.png" class="img-fluid d-inline-block">
            </div>
          </div>
        </div>
        <div class="col-4">
          <p class="h5 mb-4">Weiteres</p>
          <ul class="menu list-unstyled">
            <li><a href="#">Über uns</a></li>
            <li><a href="#">Kontakt</a></li>
            <li><a href="#">Partner werden</a></li>
            <li><a href="#">Datenschutz</a></li>
            <li><a href="#">Impressum</a></li>
          </ul>
        </div>
      </div>
    </footer>
</template>

<script setup>
import HSFuldaLogo from "../../public/assets/images/hs-fulda-logo.svg"
</script>

<style scoped>

</style>