<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light py-4">
    <div class="container">
      <RouterLink to="/" class="navbar-brand">
        <img id="logo" src="assets/images/sportify-logo.svg" class="img-fluid">
      </RouterLink>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-5 mr-auto">
          <li class="nav-item">
            <RouterLink to="/" class="nav-link text-primary">Neue Veranstaltungen</RouterLink>
          </li>
          <li class="nav-item">
            <RouterLink to="/" class="nav-link text-primary">Veranstaltung einstellen</RouterLink>
          </li>
        </ul>
      </div>


      <RouterLink :to="{ name: 'login' }" class="btn btn-primary btn-lg">Anmelden</RouterLink>
    </div>
  </nav>
</template>

<script>

</script>

<style scoped>

</style>