<template>
  <Header />
  <RouterView />
  <Footer />
</template>

<script>
import { RouterView } from "vue-router";
import Header from "./components/Header.vue";
import Footer from "./components/Footer.vue";
// import "bootstrap/dist/css/bootstrap.min.css";
import "bootstrap";
import { mapActions } from "vuex";
import store from './store/index'

export default {
  store,
  components: {
    Header,
    Footer,
    RouterView
  },
  methods: {
    ...mapActions('activities', [
      'fetchActivities',
      'fetchProviders'
    ])
  },
  mounted() {
    this.fetchActivities()
    this.fetchProviders()
  },
  
}
</script>

<style>
@import './assets/css/app.css';
</style>
