<template>
    <Form v-slot="{ values }">
        <!-- Provider -->
        <div class="mb-3">
            <Field name="provider" as="select" class="form-select">
                <option v-for="provider in providers" :key="provider.id" :value="provider.id">{{ provider.name }}</option>
            </Field>
        </div>
        <!-- Activities -->
        <div class="mb-3">
            <Field name="activities" as="select" class="form-select">
                <template v-if="values.provider !== undefined">
                    <option v-for="activity in activities" :key="activity.id" :value="activity.id">{{ activity.name }}
                    </option>
                </template>
            </Field>
        </div>
        <!-- Dates -->
        <div class="mb-3">
            <Field name="dates" as="select" class="form-select">
                <template v-if="values.activities !== undefined">
                    <option></option>
                </template>
            </Field>
            <select class="form-select">
                <option selected></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="post-event-description" class="form-label"></label>
            <input type="text" id="post-event-description" class="form-text" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </Form>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { Form, Field } from 'vee-validate'

export default {
    components: {
        Form,
        Field
    },
    computed: {
        ...mapState({
            activities: state => state.activities.activities,
            providers: state => state.activities.providers
        }),
        availableActivities() {
            
        }
    },
    methods: {
        ...mapActions('activities', [

        ])
    }
}

</script>

<style scoped>

</style>