<template>
    <Form @submit="onLogin" :validation-schema="schema">
        <!-- Email input -->
        <div class="form-outline mb-4">
            <Field name="email" type="text" class="form-control" autocomplete="username email" />
            <label class="form-label" for="email"> Email address</label>
            <ErrorMessage name="email" class="error-feedback" />
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <Field name="password" type="password" class="form-control" autocomplete="current-password" />
            <label class="form-label" for="password">Password</label>
            <ErrorMessage name="password" class="error-feedback" />
        </div>

        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="login-form-check" checked />
                    <label class="form-check-label" for="login-form-check"> Remember me </label>
                </div>
            </div>

            <div class="col">

                <a href="#">Forgot password</a>

            </div>
        </div>

        <!-- Submit button -->
        <button class="btn btn-primary-btn-block mb-4">Sign in</button>

        <!-- Register buttons -->
        <!--
        <div class="text-center">
            <p>Not a member? <a href="#!">Register</a></p>
            <p>or sign up with:</p>
            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-google"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-twitter"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-github"></i>
            </button>
        </div>
        -->
    </Form>
</template>

<script>
import { Form, Field, ErrorMessage } from 'vee-validate';
import * as Yup from 'yup';
import { mapActions } from 'vuex';

const schema = Yup.object({
    email: Yup.string()
        .required('Email is required').email(),
    password: Yup.string()
        .required('Password is required'),
});

export default {
    components: {
        Form,
        Field,
        ErrorMessage
    },
    data() {
      return {}
    },
    methods: {
        ...mapActions('auth', [
            'login',
        ]),
        onLogin: function (values) {
            this.login(values).then(
                () => this.$router.push('/dashboard'),
                (error) => alert(error) )
        }
    },
    computed: {
        ...mapState('auth', {
            loggedIn: 'loggedIn'
        })
    }
}

</script>

<style scoped>

</style>